/* Styles global */

body {
  background-color:#F6FCFF;
  padding:0;
  margin:0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color:#aaa;
}

input:focus,
textarea:focus {
  outline:none;
}

a, nav button {
  text-decoration:none;
  background-color:transparent;
  border:none;
  transition: .4s;
  cursor:pointer;
  font-family: "Montserrat", sans-serif;
  color:#000;
  font-size:1em;
}

a:hover,
nav button:hover {
  color:#fff;
}

/* form global styles */

form {
  width:40%;
  max-width:40%;
  margin: 0 auto;
}

label {
  display:flex;
  flex-direction: column;
  margin-bottom:1px;
}

label span {
  margin-bottom:.3em;
  font-weight:bold;
  text-align: left;
}

input {
  box-sizing:border-box;
  border:none;
  border-bottom:1px solid #CCC;
  padding:.8em;
  background-color:transparent;
}


input, textarea {
  box-sizing:border-box;
  border:none;
  border-bottom:1px solid #CCC;
  padding:.8em;
  background-color:transparent;
}

button[disabled] {
  background-color:#aaa;
}

.error {
  color:#721C24;
  background-color:#F9D7DA;
  border:1px solid #F5c6cb;
  padding:5px;
  border-radius:5px;
}

